@model IEnumerable<khoaLuan_webGiay.ViewModels.MenuCategoryVM>

<div class="bg-light p-4 mb-30">
    <h5 class="mb-3">Danh mục sản phẩm</h5>
    <ul class="list-group">
        @foreach (var item in Model)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a asp-controller="Products" asp-action="Index" asp-route-Category="@item.CategoryId">
                    <span class="badge badge-primary">@item.CategoryName</span>
                </a>
                <span>(@item.SoLuong)</span>
            </li>
        }
    </ul>
</div>